body {
    background-image: url("../imgs/bg3.jpg");
    height: 20px;
    background-size: repeat;
}

.jumbotron {
    font-family: 'Permanent Marker', cursive;
    background-image: url("../imgs/bg.jpg");
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 350px;
    margin-bottom: 0px;
}

.belowTitle {
    font-size: 20px;
}

.my-4 {
    color: white;
}
.display-4 {
    font-size: 105px;
}

#borderBottom {
    height: 60px;
    background-color: yellow;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    padding: 10px;
}

.btn {
    margin: 5px;
}

#addTool{
    clear: both;
}

.toolImageDiv {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

.toolImage {
    padding: 10px;
    width: 80px;
}

p {
    margin: 0px;
}

#instructions {
    font-weight: bold;
}

.gr__127_0_0_1 {
    padding-bottom: 50px;
}

.containerBottom {
    margin-bottom: 50px;
}

#footer {
    clear: both;
    height: 50px;
    text-align: center;
    padding: 15px;
    background-color: darkgrey;
    margin-top: 40px;
    width: 100%;
    font-size: 14px;
    position:fixed;
    bottom: 0;
}

/* Kindle Fire HD10 */
/* @media only screen and (height: 1920px),(width: 1200px) {
#footer {
    position:absolute;
    bottom:0;
}
} */

/* iPad*/
/* @media only screen and (height: 1024px),(width: 768px) {
    #footer {
        position:absolute;
        bottom:0;
    }
    } */


/* iPad Pro */
/* @media only screen and (height: 1366px),(width: 1024px) {
    #footer {
        position:absolute;
        bottom:0;
    }
    } */

@media only screen and (max-width: 600px) {
    .display-4 {
        font-size: 60px;
        padding-top: 40px;
    }

    #footer{
        height:70px;
        font-size: 12px;
        padding: 17px;
        position: static;
    }

    .containerBottom {
        margin-bottom: 70px;
    }

    .gif {
        max-width: 135px;
    }
}

@media only screen and (max-width: 320px) {
    .drill {
        opacity: 0;
    }
}
