/* body {
    background-image: url("../imgs/bg1.jpg");
    background-position: center center;
    background-size: cover;
} */

.jumbotron {
    font-family: 'Permanent Marker', cursive;
    background-image: url("../imgs/bg.jpg");
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 400px;
    margin-bottom: 0px;
}

.belowTitle {
    font-size: 20px;
}

.my-4 {
    color: white;
}
.display-4 {
    font-size: 105px;
}

#borderBottom {
    height: 60px;
    background-color: yellow;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
}

.col-md-12 {
    padding-bottom: 20px;
}

.btn {
    margin: 5px;
}

#addTool{
    clear: both;
}

.toolImageDiv {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

.toolImage {
    padding: 10px;
}